 html,
      body {
        position: relative;
        height: auto;
      }

      body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      .slider {
        margin-left: 30px;
        background:  rgb(145, 224, 255);
        max-width: 1100px;
        max-height: 500px;
      }

      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: black;
        width: 20px;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      body {
        background: #000;
        color: #000;
      }

      .swiper {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
      }

      .swiper-slide {
        background-size: cover;
        background-position: center;
      }

      .mySwiper2 {
        height: 500px;
        width: 500px;

        
      }

      .mySwiper {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;

      }

      .mySwiper .swiper-slide {
        width: 200px;
        height: 200px;
        opacity: 0.4;
      }

      .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      /* content right */

      h1 {
        padding: 10px;
        font-size: 30px;
        width: 350px;
        background: #000;
        color: rgb(145, 224, 255);
      }

      .details {
        font-size: 20px;
        margin-top: -500px;
        margin-left: 1200px;
        background: rgb(145, 224, 255);
        width: 400px;
        height: 260px;
      }

      .popular {
        font-size: 20px;
        margin-top: 30px;
        margin-left: 1200px;
        background: rgb(145, 224, 255);
        width: 400px;
        height: 450px;
      }

      .post {
        margin-left: -60px;
        justify-content: space-between;
      }

      .tags {
        margin-top: 30px;
        margin-left: 1200px;
        background: rgb(145, 224, 255);
        width: 400px;
        height: 140px;
      }

      .box {
        font-size: 20px;
        background: black;
        color: white;
      }

      /* procject desc */

      h2 {
        background: #000;
        color: rgb(145, 224, 255);
        width: 300px;
        padding: 10px;
      }

      .desc {
        margin-top: -140px;
        width: 1150px;
        padding: 10px;
        margin-left: 15px;
      }

      /* recent projects */
    .recent {
        margin-top: -10px;
        width: 1150px;
        padding: 10px;
        margin-left: 15px;
    }

    .recentimg {
      width: 300px;
      height: auto;
    }
