/* navbar */
.navbar-nav {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    width: 900px;
    height: 3px;
}
/* slider */
.carousel-item {
   background-color: blueviolet;
}

.carousel-caption {
    background-color: blue;
}

/* content > slogan */
.slogan {
    margin: 3em 0;
    position: relative;
}
.desc-slogan {
    text-align: center;
    font-size: 700;
}

.slogan .card-img-top:hover {
    background: rgb(145, 224, 255);
    color: #fff;
    -webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
    transition:.3s ease-in-out;
}

#card {
    padding: 20px;
}

.card {
    cursor: pointer;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
    box-shadow: 0 0 20px rgb(135, 226, 241);
}

.card-body {
    background-color:black;
}


/* Gallery */
.h1 {
    border-style: hidden;
    background-color: black;
    text-align: center;
    color: yellow;

}

.h2 {
    text-align: center;
}
/* navbar footer */
