* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
/* navbar */
.navbar img {
    margin-left: 20px;
}
.navbar {
    background: #f6f6f6;
}
#navbar-text {
    margin: 5px;
    font-size: 1.1em;
    font-family: 'Times New Roman', serif;
}
.collapse li {
    margin-right: 20px;
}

.collapse li a:hover{
    background: rgb(135, 226, 241);
    transition: all 0.5s;
}

/* slider atas*/
      html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      .swiper {
        width: 100%;
        height: 75%;
      }

      .swiper-slide {
        text-align: left;
        font-size: 18px;
        background-image: url(banner.jpg);

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        margin-left: 100px;
        display: block;
        width: 700px;
        height: 700px;
        object-fit: cover;
      }

      .swiper-slide h5 {
        font-size:50px;
        color:#000;
        background:rgb(135, 226, 241);
        text-transform:uppercase;
        font-weight:600;
     }

     /* modal */

     .modalbtn {
        border-radius: 10px;
        border: none;
        font-size: 20px;
        color: black;
        background-color: rgb(135, 226, 241);
        padding: 15px;
        margin-left: -1300px;
        margin-top: 210px;
     }
     
     .modalbtn:hover {
        background-color: #000;
        color: rgb(135, 226, 241);
        transition: 0.3s;
     }

     .modal-body {
        height: 350px;
     }

     .modal-footer {
        margin-right: 20px;
     }

     table, tr, th, td {
        border: 1px solid;
        text-align: center;
      }
/* content > slogan */
.slogan {
    margin: 3em 0;
    position: relative;
}
.desc-slogan {
    text-align: center;
    font-size: 700;
}

.slogan .card-img-top:hover {
    background: rgb(145, 224, 255);
    color: #fff;
    -webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
    transition:.3s ease-in-out;
}

#card {
    padding: 20px;
}

.card {
    cursor: pointer;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
    box-shadow: 0 0 20px rgb(135, 226, 241);
}

.card-body {
    text-align: center;
    background-color:black;
}



/* Gallery */
.img-gallery {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.img-gallery img {
    width: 100%;
    cursor: pointer;
    transition: transform 0.25s;
}

.img-gallery img:hover {
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgb(135, 226, 241);
    
}

.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: none ;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img {
    width: 90%;
    max-width: 500px;   
}

.full-img span {
    position: absolute;
    top:5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;

}


/* title card and contact */
.h1 {

    text-align: center;
    color: rgb(6, 10, 12);
    margin: 10rem;

}

.h2 {
    text-align: center;
}
/* clients */
.carouselExampleInterval {
    width: 10px;
    background: #000;
}
/* navbar footer */
.footer-top {
    background: black;
    padding: 2% 0;
}

.footer-top .btn {
    background: #fff;
    border: none;
    margin: 30px 0;
    box-shadow: 1px 2px #0d6efd;
}

#footer-col {
    display: block;
    float: left;
    margin: 0% 0 0% 2%;
}

#footer-col h3 {
    color: #fff;
    margin-bottom: 15%;
    margin-top: 0%;
    font-size: 1.5em;
    line-height: 1;
}

#footer-col p {
    color: #fff;
    line-height: 1.5em;
    font-size: 0.8em;
}

#footer-col h4 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 1.5em;
    line-height: 1;
    font-weight: normal;
    margin-top: 20px;
}

ul {
    list-style: none;
    margin: 0%;
    padding: 0;
    float: left;
}

.photo li {
    float: left;
    width: 30%;
    padding-right: 5px;
    margin-right: 0px;
}
.photo li img {
    display: block;
}
img {
    max-width: 100%;
}

.footer-list li {
    display: -webkit-box;
    color: #fff;
}
.footer-list li #brands {
    margin-right: 10px;
}

.social-icons li {
    color: #fff;
    display: inline-block;
    cursor: pointer;
    margin: 3px;
    padding: 3px;
}

.social-icons li .fa-square-facebook:hover {
    color: #4267B2;
    transition:.3s ease-in-out;
}
.social-icons li .fa-square-youtube:hover {
    color: #FF0000;
    transition:.3s ease-in-out;
}
.social-icons li .fa-square-twitter:hover {
    color: #1DA1F2;
    transition:.3s ease-in-out;
}
.social-icons li .fa-square-google-plus:hover {
    color: #d34836;
    transition:.3s ease-in-out;
}
.social-icons li .fa-linkedin:hover {
    color: #0077b5;
    transition:.3s ease-in-out;
}
.social-icons li .fa-blogger:hover {
    color: #FF5722;
    transition: .3s ease-in-out;
}

.footer-list #email {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.footer-list #email:hover {
    color: rgb(5, 142, 255);
    text-decoration: underline;
    
} 

/* footer-bottom */
.footer-bottom {
    text-align: center;
    background: #1DA1F2 ;
    color: black;
    padding: 0;
    margin: 0;
}
.footer-bottom .brand {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.footer-bottom .brand:hover {
    color: white;
}
