* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(135, 226, 241);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

/* navbar */
.navbar img {
  margin-left: 20px;
}
.navbar {
  background: #f6f6f6;
}
#navbar-text {
  margin: 5px;
  font-size: 1.1em;
  font-family: 'Times New Roman', serif;
}
.collapse li {
  margin-right: 20px;
}

.collapse li a:hover{
  background: rgb(135, 226, 241);
  transition: all 0.5s;
}

/* header */
header {
  font-size: 1.2rem;
  margin-bottom: -3rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
  background: #57837b;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.container {
  min-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  color: black;
  font-size: 3rem;
}

.todo-input {
  width: 250px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  font-size: 1rem;
}

.add-button {
  background-color: #0000ff;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 7px;
  font-size: 1.2rem;
}


.todo-items {
  min-width: 350px;
}

.item {
  background-color: #fff;
  padding: 15px;
  font-size: 1.1rem;
  margin-bottom: 10px;
  border-radius: 0.4rem;
}

.checkbox {
  margin-right: 10px;
}

.delete-button {
  float: right;
  background-color: #ba3242;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 2px 5px;
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
}

.checked { 
  text-decoration: line-through;
}

/* footer */
.footer-bottom {
  text-align: center;
  background: #1DA1F2 ;
  color: black;
  padding: 0;
  margin: 0;
  bottom: 0;
}
.footer-bottom .brand {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.footer-bottom .brand:hover {
  color: white;
}
