/*--single--*/
.single-wrapper{
	padding:50px 0;
}
.single-blog{
	width: 67.3%;
	float: left;
	padding:0 3.6%;
}
p.blog-text{
	color: #000;
	font-size: 0.95em;
	line-height: 1.8em;
	padding: 30px 0;
}
.share-point{
	border-bottom: 1px solid #DBDBDB;
	margin-bottom:30px;
	padding-bottom:30px;
}
.point{
	color: #FFEA00;
	background: #424146;
	float:left;
}
.point h5{
	font-size: 1.4em;
	padding: 5px 10px;
	text-transform: uppercase;
}
.social-list{
	float:right;
}
.social-list li{
	display:inline-block;
	margin-right: 20px;
}
.social-list li.last{
	margin-right:0px;
}
.social-list li img{
	float: left;
}
.social-list li p {
	float: left;
	padding: 4px 10px 4px 10px;
	background:#ffea00;
	color:#000;
}
.gallery li p{
	background:#ffea00;
	padding:20px;
	line-height:1.5em;
	color:#000;
	font-size:1.4em;
}
.related-post{
	border-bottom: 1px solid #DBDBDB;
	margin-bottom: 30px;
	padding-bottom: 30px;
}
.related-post h4 {
	background: #424147;
	color: #FFEA00;
	text-transform: uppercase;
	font-size: 1.4em;
	padding: 5px 10px;
	margin-bottom: 30px;
	float: left;
}
.blog-comment h5{
	background: #424147;
	color: #FFEA00;
	font-size: 1.4em;
	padding:5px 20px;
	float: left;
	text-transform: uppercase;
}
ul.list{
	border-bottom: 1px solid #DBDBDB;
	margin-bottom: 30px;
	padding:30px 0 0;
}
.list li{
	padding-bottom:30px;
}
.preview{
	float: left;
	width: 5.5%;
	margin-right: 10px;
}
.data{
	float: left;
	width: 93.5%;
}
.title {
	color: #444;
	font-size: 0.99em;
	font-weight:600;
	margin: 0 0 10px 0;
}
.title a{
	color:#CFBE01;
}
.title a:hover{
	color:#424147;
}
.data p{
	color:#000;
	font-size:0.89em;
	line-height:1.5em;
}
li.middle{
	padding:0 0px 0 70px;
	margin-bottom: 30px;
}
.data-middle{
	float: left;
	width: 92.5%;
}
.data-middle p {
	color: #000;
	font-size: 0.89em;
	line-height: 1.5em;
}
li.last-comment{
	padding:0 0px 0 140px;
	margin-bottom: 30px;
}
.data-last{
	float: left;
	width: 92.5%;
}
.data-last p {
	color: #000;
	font-size: 0.89em;
	line-height: 1.5em;
}
.to input[type="text"] {
	padding: 10px 10px;
	width: 47.4%;
	font-size: 1em;
	font-family: "Century Gothic",Arial, Helvetica, sans-serif;
	margin: 10px 0;
	border: 1px solid #E1E2E2;
	color: #000;
	background: #FFF;
	float: left;
	outline: none;
	font-size: 0.89em;
}
.text1 input[type="text"], .text1 textarea {
	width:97.6%;
	margin: 10px 0;
	border: 1px solid #E1E2E2;
	color: #000;
	font-family: "Century Gothic",Arial, Helvetica, sans-serif;
	outline: none;
	margin-bottom: 25px;
	height: 100px;
	padding: 10px 10px;
	font-size: 0.89em;
}
.submit {
	color: #FFF;
	font-size: 1.1em;
	font-weight: normal;
	padding: 10px 20px;
	border-bottom:2px solid #ffea00;
	background: #000;
	/* float:right; */
	display: inline-block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.submit:hover{
	background:#333;
}
h5.leave{
	background: #424147;
	color: #FFEA00;
	font-size: 1.4em;
	padding: 5px 20px;
	float:left;
	margin-bottom: 20px;
	text-transform: uppercase;
}