* {
  font-family: 'Times New Roman', Times, serif;
}
 /* navbar */
.navbar img {
  margin-left: 20px;
}
.navbar {
  background: #f6f6f6;
}
#navbar-text {
  margin: 5px;
  font-size: 1.1em;
  font-family: 'Times New Roman', serif;
}
.collapse li {
  margin-right: 20px;
}

.collapse li a:hover{
  background: rgb(135, 226, 241);
  transition: all 0.5s;
}

 
 
 html,
      body {
        position: relative;
        height: auto;
      }

      body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      .slider {
        margin-left: 30px;
        background:  rgb(145, 224, 255);
        max-width: 1100px;
        max-height: 500px;
      }

      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: black;
        width: 20px;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      body {
        background: #000;
        color: #000;
      }

      .swiper {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
      }

      .swiper-slide {
        background-size: cover;
        background-position: center;
      }

      .mySwiper2 {
        height: 500px;
        width: 500px;

        
      }

      .mySwiper {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;

      }

      .mySwiper .swiper-slide {
        width: 200px;
        height: 200px;
        opacity: 0.4;
      }

      .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      /* content right */

      h1 {
        padding: 10px;
        font-size: 30px;
        width: 350px;
        background: #000;
        color: rgb(145, 224, 255);
      }

      .details {
        font-size: 20px;
        margin-top: -500px;
        margin-left: 1200px;
        background: rgb(145, 224, 255);
        width: 398px;
        height: 260px;
      }

      .popular {
        
        font-size: 20px;
        margin-top: 30px;
        margin-left: 1200px;
        background: rgb(145, 224, 255);
        width: 396px;
        height: 450px;
      }

      .post {
        margin-left: -60px;
        justify-content: space-between;
      }

      .tags {
        margin-top: 30px;
        margin-left: 1200px;
        background: rgb(145, 224, 255);
        width: 398px;
        height: 140px;
      }

       @media screen and (max-width: 100%) {
        .popular, .post, .tags {
          width: 100%;
        }
      }

      .box {
        font-size: 20px;
        background: black;
        color: white;
      }

      /* procject desc */

      h2 {
        background: #000;
        color: rgb(145, 224, 255);
        width: 300px;
        padding: 10px;
      }

      .desc {
        margin-top: -140px;
        width: 1150px;
        padding: 10px;
        margin-left: 15px;
      }

      /* recent projects */
    .recent {
        margin-top: -10px;
        width: 1150px;
        padding: 10px;
        margin-left: 15px;
    }

    .recentimg {
      width: 300px;
      height: auto;
    }
/* navbar footer */
.footer-top {
  background: black;
  padding: 2% 0;
}

.footer-top .btn {
  background: #fff;
  border: none;
  margin: 30px 0;
  box-shadow: 1px 2px #0d6efd;
}

#footer-col {
  display: block;
  float: left;
  margin: 0% 0 0% 2%;
}

#footer-col h3 {
  color: #fff;
  margin-bottom: 15%;
  margin-top: 0%;
  font-size: 1.5em;
  line-height: 1;
}

#footer-col p {
  color: #fff;
  line-height: 1.5em;
  font-size: 0.8em;
}

#footer-col h4 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 1.5em;
  line-height: 1;
  font-weight: normal;
  margin-top: 20px;
}

ul {
  list-style: none;
  margin: 0%;
  padding: 0;
  float: left;
}

.photo li {
  float: left;
  width: 30%;
  padding-right: 5px;
  margin-right: 0px;
}
.photo li img {
  display: block;
}
img {
  max-width: 100%;
}

.footer-list li {
  display: -webkit-box;
  color: #fff;
}
.footer-list li #brands {
  margin-right: 10px;
}

.social-icons li {
  color: #fff;
  display: inline-block;
  cursor: pointer;
  margin: 3px;
  padding: 3px;
}

.social-icons li .fa-square-facebook:hover {
  color: #4267B2;
  transition:.3s ease-in-out;
}
.social-icons li .fa-square-youtube:hover {
  color: #FF0000;
  transition:.3s ease-in-out;
}
.social-icons li .fa-square-twitter:hover {
  color: #1DA1F2;
  transition:.3s ease-in-out;
}
.social-icons li .fa-square-google-plus:hover {
  color: #d34836;
  transition:.3s ease-in-out;
}
.social-icons li .fa-linkedin:hover {
  color: #0077b5;
  transition:.3s ease-in-out;
}
.social-icons li .fa-blogger:hover {
  color: #FF5722;
  transition: .3s ease-in-out;
}

.footer-list #email {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.footer-list #email:hover {
  color: rgb(5, 142, 255);
  text-decoration: underline;
  
} 

/* footer-bottom */
.footer-bottom {
  text-align: center;
  background: #1DA1F2 ;
  color: black;
  padding: 0;
  margin: 0;
}
.footer-bottom .brand {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.footer-bottom .brand:hover {
  color: white;
}
